* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  /* font-family: "Poppins", sans-serif; */
}

body {
  height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}